/** @format */

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

$primary: #0347ce;
$secondary: #bb40bf;
$accent: #470672;
$dark: #130101;
$light: #fcfcfc;
$Inter: "Inter", sans-serif;
